<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--suppress HibernateConfigDomFacetInspection -->
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/laptopweb</property>
    <property name="connection.username">root</property>
    <property name="connection.password">hung12345</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>
        <!-- Echo the SQL to stdout -->
<!--        <property name="show_sql">true</property>-->
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- Drop and re-create the database schema on startup -->
<!--        <property name="hbm2ddl.auto">create-drop</property>-->
<!--        <property name="hbm2ddl.auto">update</property>-->
        <!-- dbcp connection pool configuration -->
        <property name="hibernate.jdbc.time_zone">Asia/Ho_Chi_Minh</property>
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>
        <mapping class="com.laptop.models.User" />
        <mapping class="com.laptop.models.Product" />
        <mapping class="com.laptop.models.ProductReview" />
        <mapping class="com.laptop.models.Category" />
        <mapping class="com.laptop.models.Order" />
        <mapping class="com.laptop.models.OrderItem" />
        <mapping class="com.laptop.models.Cart" />
        <mapping class="com.laptop.models.CartItem" />
        <mapping class="com.laptop.models.WishlistItem" />
        <mapping class="com.laptop.models.Promotion" />
    </session-factory>
</hibernate-configuration>